body {background-color: #7A1F1F;}
  h1 {font-family:Cursive;
  color:#A3F527;}
h2 {font-family: Monospace;
  color:#C6FCA7;}
p {font-size: 6px;
  color:#FFFFFF;}
ul{font-size: 6px;
   color:#FFFFFF;}
img{display:block;
    margin:0 auto;
    width: 200px;}